<nav>
  <div class="container">
    <div class="nav-logo">
      <a href="/"><h2>Berry House</h2></a>
    </div>
    <ul class="nav-menu">
      <li class="dropdown"><a href="#" class="dropbtn">About</a>
        <ul class="nav-menu sub">
          <li><a href="/mission">Mission</a></li>
          <li><a href="/staff">Staff</a></li>
        </ul>
      </li>
      <li><a href="/contracts">Contracts</a></li>
      <li class="dropdown"><a href="#" class="dropbtn">Consumers</a>
      <ul class="nav-menu sub">
        <li><a href="/berryhouse">The Berry House Program</a></li>
        <li><a href="/photos">Welcome to Our Homes</a></li>
        <li><a href="/berryhouse/index.html#requirements">Requirements</a></li>
      </ul>
      </li>
      <li class="dropdown"><a href="#" class="dropbtn">Partners</a>
        <ul class="nav-menu sub">
          <li><a href="https://www.adultcareconsultants.com">Adult Care Consultants</a></li>
          <li><a href="/counties">Counties</a></li>
          <li><a href="https://nami.org/">NAMI</a></li>
          <li><a href="https://www.namiwisconsin.org/">NAMI WI</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>